<div class="row">
    <div class="col-md-4 gridPrice  p-2 offset-md-8">
          <div class="line mb-1">
            <p><strong>PRICE DETAILS</strong></p>
            <span class="text-dark">Price: ({{totalItems}}items)</span>
            <span class="text-muted float-right"> <span>&#x20B9;</span>{{subTotal}}</span>
          </div>
          <div class="dropdown-divider"></div>
          <div class="line mb-1 pt-1">
            <span class="fw-500">Total:</span>
            <span class="text-muted float-right"><span>&#x20B9;</span>{{subTotal}}</span>
          </div>
          <div class="float-right"
          ><span routerLink="/account/checkout" class="addToCartButton">PLACE ORDER</span>
        </div>
    </div>
  </div>